// --------------------------------------------------------------------
// ------- Vacio, Añada sus estilos scss
// --------------------------------------------------------------------



// contenedor del menu de agentes

.toolbar-option
{
	@extend .#{$fila};
	@extend .abcenter;
	@extend .no-wrap;
	cursor: pointer;
}

// dropdown para el toolbar, contendra las listas de equipos

.dropdown-toolbar
{

	position: fixed;
	top: 60px;
	left: 0px;
	height: 100%;
	width: 202px;
	overflow-x: hidden;
	overflow-y: scroll;
	border-radius: 0px !important;
	// display: none;

	& .dropdown-cont
	{
		@extend .#{$fila};
		@extend .fixed;
		@extend .z-index-10;
		@extend .cross-start;
		height: 100%;
		background:#FFFFFF;
		left: 0px;
		width: 202px !important;
		@include box-shadow(0 1px 4px rgba(0,0,0,.3));

	}
}
// contenedor de los iframe
.iframeStreaming
{
	@extend .#{$fila};
	overflow:hidden;
	height: 250px;

 & iframe{
		@extend  .#{$fila};
		height: 100%;
		overflow: hidden;
		border: none;

		& body
		{
			@extend .font-7;
			@extend .white;
		}
	}
}
// clase para dar widht ramdon a los contenedor
.random-width
{
	& .content-ramdom:nth-child(odd) {
		@extend .lg3;
	}
	& .content-ramdom:nth-child(even) {
		@extend .lg4;
	}
}

 // clase para darle el estado fullscreen al contenedor

.fullscreen-content
{
	width: 80% !important ;
	max-width: 80% !important ;
}

.fullscreen-iframe
{
	height: 500px !important;
}
