<ion-view view-title="Video Streaming Test, Conexión">
  <ion-nav-bar class="bar-stable servicios-bar">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <section class= "home-container">
      <div class="averia-container">
        <p class="averia-description">DEMO PARA PROBAR VIDEO STREAMING DESDE APLICACIÓN MÓVIL ANDROID</p>
      </div>
      <div class="list">
        <button class="button button-full button-positive item-button-left " ng-click="openStreaming()">
          <i class="icon ion-ios-videocam"></i>
          Iniciar transmisión de video
        </button>
      </div>

    </section>
  </ion-content>
</ion-view>
