<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- Dashboard Tab -->
  <ion-tab title="Conexión" icon-off="ion-ios-videocam" icon-on="ion-ios-videocam" href="#/tab/conect">
    <ion-nav-view name="tab-conect"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
<ion-tab title="Listen" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear-outline" href="#/tab/listen">
    <ion-nav-view name="tab-listen"></ion-nav-view>
  </ion-tab>
</ion-tabs>
