
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <meta http-equiv="Content-Security-Policy"/>
  <title>video Streaming</title>

  <!--   Iconos fontastic y fuentes de google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Roboto+Slab|Lato|Ubuntu" rel="stylesheet" type="text/css"/>
  <link href="https://file.myfontastic.com/xVGuRrP4HJGL5kTAGhebPe/icons.css" rel="stylesheet">
  <!-- Libreria de estilos -->
  <link href="./www/lib/easy/css/easy.app.css" rel="stylesheet">
  <!-- Estilos generales -->
  <link href="./www/css/style.css" rel="stylesheet">

</head>

<body ng-app="VideoStreaming" ng-controller="videoStreaming" ng-init="verificarSesion()">
  <!-- SVG Sprite -->
  <div style="height: 0; width: 0; position: absolute; visibility: hidden;" aria-hidden="true">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
      <symbol id="ripply-scott" viewBox="0 0 100 100">
        <circle id="ripple-shape" cx="1" cy="1" r="1" />
      </symbol>
    </svg>
  </div>
  <!-- /end sprite -->
  <div id="loading">

    <div class="loading-icon"><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
  </div>
  <main>
    <div class="cont-1 row xs-100 md-60 lg-40 p-100 m-t-60">
      <h2 class="bold">Video Streaming</h2>
      <form ng-submit="incioSesion(data)">
        <div class="m-b-10" input-group="input-group">
          <div input-group-icon="input-group-icon" class="ripple">
            <div class="icon-user"></div>
          </div>
          <input required="" type="text" ng-model="data.Nombre_Usuario" placeholder="Usuario" input-lg border="border"/>

        </div>
        <div class="m-b-10" input-group="input-group">
          <div input-group-icon="input-group-icon" class="ripple">
            <div class="icon-key"></div>
          </div>
          <input required="" type="password" ng-model="data.Contrasenia" placeholder="Contraseña" input-lg border="border"/>

        </div>
        <button type="submit" class="btn btn-link ripple ">Ingresar</button>
      </form>
    </div>
  </main>
<footer>
  <section>
    <div ng-show="(objNotify).length &gt; 0" class="notification ng_animate-1">
      <div ng-show="Notificacion.visibilidadNotify == true" ng-repeat="Notificacion in objNotify" ng-class="{'black-notification': Notificacion.tipoNotify == 'black-notification','white-notification': Notificacion.tipoNotify == 'white-notification','succes-notification': Notificacion.tipoNotify == 'succes-notification','warning-notification': Notificacion.tipoNotify == 'warning-notification','info-notification': Notificacion.tipoNotify == 'info-notification','danger-notification': Notificacion.tipoNotify == 'danger-notification'}" class="cont-notification ng_animate-1">
        <div class="notification-inner row">
          <div class="notification-title row font-6">
            <p class="font-6">{{Notificacion.tituloNotificacion}}</p>
          </div>
          <div class="notification-text row font-8">
            <p>{{Notificacion.menssageNotify}}.</p>
          </div>
        </div><a ng-click="closeSpecificNotifications($index)" class="icon-close-6-6 notification-close"></a>
      </div>
    </div>
  </section>
  <!-- Libreria de angular.js -->
  <script src="./www/js/angular/angular.min.js"></script>
  <!-- Libreria para angular animate -->
  <script src="./www/js/angular-animate/angular-animate.js"></script>
  <!-- Libreria para angular ngStorage -->
  <script src="./www/js/ngstorage/ngStorage.js"></script>
  <!--   Libreria de jquery-->
  <script src="./www/js/jquery/dist/jquery.min.js"></script>

  <!-- Creacion de la variable app para poderla emplear tanto en factory como controller -->
  <script>
  var app = angular.module('VideoStreaming', ['ngAnimate','ngStorage']);
  </script>
  <!-- Controlador principal -->
  <script src="./www/js/services/factory.js"></script>
  <!-- factory -->
  <script src="./www/js/controller/controller.js"></script>
  <!-- Jquery para los dropdown -->
  <script src="./www/js/elements/dropdown.js"></script>
  <!-- Jquery para los modales -->
  <script src="./www/js/elements/modal.js"></script>
  <!-- Jquery para el loading -->
  <script src="./www/js/elements/loading.js"></script>
  <!-- Jquery para eventos creados para ciertos elementos -->
  <script src="./www/js/elements/styles.js"></script>
  <!-- Script para el svg riple -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js"></script>
  <script src="./www/js/elements/ripple.js"></script>
</footer>

</body>
</html>
