<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <meta http-equiv="Content-Security-Policy" />
  <title>video Streaming</title>

  <!--   Iconos fontastic y fuentes de google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Roboto+Slab|Lato|Ubuntu" rel="stylesheet" type="text/css" />
  <link href="https://file.myfontastic.com/xVGuRrP4HJGL5kTAGhebPe/icons.css" rel="stylesheet">
  <!-- Libreria de estilos -->
  <link href="../lib/easy/css/easy.app.css" rel="stylesheet">
  <!-- Estilos generales -->
  <link href="../css/style.css" rel="stylesheet">

</head>

<body ng-app="VideoStreaming" ng-controller="videoStreaming" ng-init="verificarSesion()">
  <!-- SVG Sprite -->
  <div style="height: 0; width: 0; position: absolute; visibility: hidden;" aria-hidden="true">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
      <symbol id="ripply-scott" viewBox="0 0 100 100">
        <circle id="ripple-shape" cx="1" cy="1" r="1" />
      </symbol>
    </svg>
  </div>
  <!-- /end sprite -->
  <div id="loading">

    <div class="loading-icon"><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
  </div>
  <main>
    <nav class="toolbar">
      <div class="toolbar-content bg-indigo">
        <div class="no-m md-px-70 font-6 icon-bars border-left link row abcenter white ripple" attr-dropdown="dropdown"></div>
        <div class="row abcenter hidden-xs visible-md ripple">
          <p class="font-7 p-10 white link bold">DEMO VIDEO STREAMING MÚLTIPLE - TIPI</p>
        </div>
        <div class="toolbar-option md-30 p-r-50 p-l-50 rel ripple xs-auto">
          <div class="row abcenter xs-auto m-r-50" attr-dropdown="dropdown-notificacion">
            <p class="font-5 bold white no-m icon-bell-1 link rel">
              <i class="badge badge-red font-8 no-m top-5-5 right-18-18">{{num_Agentes_SOS}}</i>
            </p>
          </div>
          <div class="xs-auto  p-l-50 no-wrap row abcenter" attr-dropdown="dropdown-sesion">
            <div class="row abcenter xs-auto">
              <p class="font-7 bold white">{{datosUsuario[0].Nombre_Usuario}}</p>
            </div>
            <img class="img-icon-2" ng-src="{{'../img/' + datosUsuario[0].Avatar_Usuario}}">
          </div>
          <!-- dropdown -->
          <div name-dropdown="dropdown-sesion" class="drop-down top-45 left n-px-200">
            <div attr-dropdown="dropdown-sesion" class="close-modal background-transparent z-index-10"></div>
            <div class="drop-down-cont left-130-130 top-15">
              <div class="drop-down-item" ng-click="cerrarSesion()">Cerrar sesión</div>
            </div>
          </div>
          <!-- dropdown -->
          <div name-dropdown="dropdown-notificacion" class="drop-down top-45 cont-1 xs-px-350 ">
            <div attr-dropdown="dropdown-notificacion" class="close-modal background-transparent z-index-10"></div>
            <div class="drop-down-cont left-130-130 top-15">
              <!-- List header-->
              <div class="list no-shadow no-m">
                <div class="list-header no-wrap">
                  <p class="font-7">Solicitando transmisión
                  </p>
                  <i class=" badge-blue badge link" ng-click="fn_Consultar_Agentes_SOS()">Actualizar</i>
                </div>
                <div   item-right="item-right" class="ripple item p-b-5" ng-repeat="agentes_solicitando in agentes_SOS">
                  <i class="icon-item-right c-h-62 icon icon-android  color-239 font-4 link" ng-click="selecAgent(agentes_SOS[$index], $index, 'SOS')"></i>
                  <div class="item-label" ng-click="selecAgent(agentes_SOS[$index], $index, 'SOS')">
                    <h6>
                      <b> {{agentes_solicitando.Nombre_Agente}} </b></h6>
                    <p>
                      {{agentes_solicitando.Estado}}
                    </p>
                  </div>
                </div>
                <div class="row no-m no-b-r no-b" alert-default ng-show="(agentes_SOS).length == 0">
                  <p class="font-7">No hay agentes solicitando una transmisión</p>
                </div>

              </div>
            </div>
          </div>
        </div>


      </div>
      </div>
    </nav>

    <div class="container p-t-60 cross-start no-wrap">

      <div class="row lg-15 height_100-n cross-start" name-dropdown="dropdown">
        <div class="dropdown-toolbar rel top-1-1">
          <!-- <div class="close-modal background-transparent z-index-10" attr-dropdown="dropdown">
      </div> -->
          <div class="dropdown-cont top-59  ">
            <div class="list no-shadow height_80-n">
              <div class="list-header no-wrap white bg-indigo darken-2">
                <p class="font-7 white no-m link bold row abcenter">{{selectAgent.Nombre_Agente}}</p>
                <a modal-attr="small-modal" ng-show="selectAgent.Token_Dispositivo != undefined" class="btn btn-succes icon-bell ripple">Conectar
            </a>

              </div>
              <div class="list-header">
                <p class="font-7">Agentes dispoibles</p>
              </div>
              <!-- Agentes disponibles -->
              <div ng-if="agente.Estado == 'Desconectado'" item-left="item-left" item-right="item-right" class="ripple item p-b-5" ng-repeat="agente in agentes">
                <i class="icon-item-right c-h-62 icon icon-android  color-239 font-4 link" ng-click="selecAgent(agentes[$index], $index, 'listAgentes')"></i>
                <div class="item-label" ng-click="selecAgent(agentes[$index], $index, 'listAgentes')">
                  <h6>
                    <b> {{agente.Nombre_Agente}} </b></h6>
                  <p>
                    {{agente.Estado}}
                  </p>
                </div>
                <div ng-show="agente.seleccionado == true" class="icon-item-left icon icon-close-circled font-4 link tooltip" ng-click="removAgent('listAgentes')">
                  <div class="tooltiptext-right  top-25">Remover</div>
                </div>
              </div>
              <!-- Agentes conectados -->
              <div class="list-header">
                <p class="font-7">Agentes conectados</p>
              </div>
              <div ng-if="agente.Estado == 'Conectado'" item-left="item-left" item-right="item-right" class="ripple item p-b-5" ng-repeat="agente in agentes">
                <i class="icon-item-right c-h-62 icon icon-android-microphone-off  color-239 font-4 link" ng-click="pushNotificationCloseAgente($index)"></i>
                <div class="item-label">
                  <h6>
                    <b> {{agente.Nombre_Agente}} </b></h6>
                  <p>
                    {{agente.Estado}}
                  </p>
                </div>
              </div>
            </div>
            <div class="row ripple height_10-n border-top-1">
              <div class="col row xs-auto align-center justify-end p-r-30 height_100-n icon-chevron-right link grey lighten-1" attr-dropdown="dropdown">
              </div>
              <div class="col row xs-auto align-center justify-end p-r-30 height_100-n icon-update link grey lighten-1" ng-click="fn_Consultar_Agentes()">
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="row lg-100">
        <!-- <div alert-default="alert-default" class="alert">
        <div class="alert-inner no-m">
        <button class="btn btn-succes" type="button" name="button" ng-click="fn_Consultar_Links()">Recargar cámaras</button>

      </div>
    </div> -->
        <div class="p-l-r-10 row cross-start p-t-30 random-width distributed" ng-init="allElements = false">
          <div name-fullscreen="{{$index+'cont'}}" class=" content-ramdom row xs-100 m-r-10 col no-p" ng-repeat="links in listCamaras">
            <div class="card">

              <div class="card-content p-l-r-1 p-t-1  ">
                <div class="ripple iframeStreaming">
                  <iframe ng-src="{{links.LINK}}" id="{{links.PK_ID_Link}}" class=" container-video bg-black">
              </iframe>
                </div>
                <div ng-if="links.Nombre_Agente != null" class="list no-shadow">
                  <div class="list-header bg-indigo white ripple">
                    <p class="font-7">Conectada con: {{links.Nombre_Agente}}</p>
                  </div>
                </div>
                <div class="row xs-100 lg-100">
                  <!--  list icons-->
                  <div class="list no-shadow ripple">
                    <a item-right="item-right" class="no-shadow bold item" ng-click="selectCam($index,links.PK_ID_Link)">{{links.Nombre_Link}}

                  <i ng-if="links.Estado == 'Disponible'" class="icon-item-right tooltip icon icon-bell-3" ng-class="{green:links.Estado == 'Disponible'}">
                    <div class="tooltiptext-left left-90-90 top-15">{{links.Estado}}</div>
                  </i>
                  <i ng-if="links.Estado == 'Ocupada'" class="icon-item-right tooltip icon icon-bell-3" ng-class="{red:links.Estado == 'Ocupada'}">
                    <div class="tooltiptext-left left-90-90 top-15">{{links.Estado}}</div>
                  </i>
                </a>
                  </div>

                </div>
                <div class="card-tools">

                  <div class="col">
                    <button class="btn btn-link btn-icon icon-screen-full ripple color-253" attr-fullscreen="{{$index+'cont'}}"></button>
                  </div>
                  <div class="col">
                    <button class="btn btn-link btn-icon icon-android-microphone-off ripple color-253" ng-click="pushNotificationClose(links.PK_ID_Link)"></button>
                  </div>
                  <div class="col">
                    <button class="btn btn-link btn-icon icon-update ripple color-253" ng-click="fn_Consultar_Links()"></button>
                  </div>

                </div>
              </div>
            </div>
          </div>



        </div>
      </div>


    </div>

    <div name-attr="small-modal" class="modal hidden">
      <div modal-attr="small-modal" class="ripple close-modal ripple-white"></div>
      <div class="modal-inner md-30 xs-95 n-95">
        <div class="modal-header bg-indigo white">
          <div class="font-6 margin_left-20">Seleccione pantalla para visualizar</div>
          <div modal-attr="small-modal" class="icon-times icon-close-2-2 white"></div>
        </div>
        <div class="modal-content">
          <form ng-submit="pushNotification()" ng-model="Data.pk_id_link">
            <div form-group="form-group">
              <div class="row xs-100 lg-100">
                <!--  list icons-->
                <div class="list no-shadow">

                  <a ng-repeat="links in listCamaras" ng-class="{'bg-58': links.select == true}" item-right="item-right" class="ripple item bg-h-58" ng-click="selectCam($index,links.PK_ID_Link)">{{links.Nombre_Link}}

                <i ng-if="links.Estado == 'Disponible'" class="icon-item-right icon icon-bell-3" ng-class="{green:links.Estado == 'Disponible'}"></i>
                <i ng-if="links.Estado == 'Ocupada'" class="icon-item-right icon icon-bell-3" ng-class="{red:links.Estado == 'Ocupada'}"></i>
              </a>
                </div>

              </div>
              <button type="submit" class="btn btn-succes ripple" modal-attr="small-modal">Aceptar</button>

          </form>
          </div>

        </div>
      </div>


  </main>
  <footer>
    <section>
      <div ng-show="(objNotify).length &gt; 0" class="notification ng_animate-1">
        <div ng-show="Notificacion.visibilidadNotify == true" ng-repeat="Notificacion in objNotify" ng-class="{'black-notification': Notificacion.tipoNotify == 'black-notification','white-notification': Notificacion.tipoNotify == 'white-notification','succes-notification': Notificacion.tipoNotify == 'succes-notification','warning-notification': Notificacion.tipoNotify == 'warning-notification','info-notification': Notificacion.tipoNotify == 'info-notification','danger-notification': Notificacion.tipoNotify == 'danger-notification'}"
          class="cont-notification ng_animate-1">
          <div class="notification-inner row">
            <div class="notification-title row font-6">
              <p class="font-6">{{Notificacion.tituloNotificacion}}</p>
            </div>
            <div class="notification-text row font-8">
              <p>{{Notificacion.menssageNotify}}.</p>
            </div>
          </div>
          <a ng-click="closeSpecificNotifications($index)" class="icon-close-6-6 notification-close"></a>
        </div>
      </div>
    </section>
    <!-- Libreria de angular.js -->
    <script src="../js/angular/angular.min.js"></script>
    <!-- Libreria para angular animate -->
    <script src="../js/angular-animate/angular-animate.js"></script>
    <!-- Libreria para angular ngStorage -->
    <script src="../js/ngstorage/ngStorage.js"></script>
    <!--   Libreria de jquery-->
    <script src="../js/jquery/dist/jquery.min.js"></script>
    <!-- Creacion de la variable app para poderla emplear tanto en factory como controller -->
    <script>
      var app = angular.module('VideoStreaming', ['ngAnimate', 'ngStorage']);
    </script>
    <!-- Controlador principal -->
    <script src="../js/services/factory.js"></script>
    <!-- factory -->
    <script src="../js/controller/controller.js"></script>
    <!-- Jquery para los dropdown -->
    <script src="../js/elements/dropdown.js"></script>
    <!-- Jquery para los modales -->
    <script src="../js/elements/modal.js"></script>
    <!-- Jquery para el loading -->
    <script src="../js/elements/loading.js"></script>
    <!-- Jquery para eventos creados para ciertos elementos -->
    <script src="../js/elements/styles.js"></script>
    <!-- Script para el svg riple -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js"></script>
    <script src="../js/elements/ripple.js"></script>
  </footer>

</body>

</html>